.project-wrapper {
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-text-area {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
