.project-item-wrapper {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.project-item {
  height: 300px;
  width: 250px;
  border-radius: 10px;
  background-color: teal;
}

.image-container {
  height: 45%;
  background-color: yellow;
}
