.project-item {
  height: 450px;
  width: 350px;
  border-radius: 5px;
  background: rgb(6, 55, 65);
  transition: 0.3s;
}

.project-item:hover {
  background: rgb(9, 102, 121);
  margin-bottom: 20px;
  box-shadow: -5px 10px 10px 0px rgba(13, 102, 124, 0.3);
}

.stacklist-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  p {
    font-size: 0.9rem;
    border: 1px solid white;
    padding: 7px;
    border-radius: 5px;
    background-color: transparent;
  }
}

.image-container {
  height: 45%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  height: 45%;

  .item-description {
    margin-top: 10px;
  }
}

.button-container {
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: white;
  }
}
