.project-item-wrapper {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.project-item {
  height: 450px;
  width: 350px;
  border-radius: 10px;
  background: rgba($color: #31dbff, $alpha: 0.1);
}

.image-container {
  height: 45%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  height: 45%;

  .item-description {
    margin-top: 10px;
  }
}

.button-container {
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: white;
  }
}
