.aboutpage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 93vh;
}

.personal-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 70%;
  border-bottom: 2px solid white;
}

.experiences-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
