.navbar-container {
  height: 7vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: yellow;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;

  ul {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: #616161;
    :hover {
      color: white;
      border-bottom: #e1287e 2px solid;
      transition: color 0.3s;
    }
  }
}
