.contact-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.7rem;
  margin-bottom: 1rem;
  padding: 2rem;
  border-radius: 10px;
  background: rgba($color: #000000, $alpha: 0.2);

  p {
    font-size: 1.6rem;
  }
}
