.contact-page-wrapper {
  width: 100%;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    width: 40%;
  }
}

.contact-info-wrapper {
  width: 40%;
}
