.start-wrapper {
  min-height: 93vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  min-height: 100%;
  margin-bottom: 10%;

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    padding: 0;
    margin: 0;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-top: 3px;
  }

  span {
    // background: linear-gradient(#31dbff, #ff37cb);
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    color: #31dbff;
  }
}
